
body
  {
  margin:25vw;
  margin:25vh;
  border:30px 1000px solid;
  border-radius:100px;
  border-style:groove;
  padding:30vh;
  text-align: center;
  box-shadow: 0px 0px 20px 0px goldenrod;
  }
  body{    
    color:rgb(255, 255, 255);
    background-image:url(Imagem-Ouro.avif);
    background-size:cover;
    background-position:center; 
    font-weight: bold;
    font-size:25px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-display: relative;
    outline: 40px solid gold;
    background-repeat: no-repeat;
}
  a:visited {
    color: rgb(233, 229, 7);
  }
  a:hover {
    background-color: rgb(238, 255, 0);
  }
  p::first-letter {
    font-size: 200%;
  }
  h1{
    font-size: 55px;
    font-style: italic;
    border:55px groove rgb(219, 243, 5);
    border-radius:100px;
    box-shadow: 10px 10px 10px 10px black;
}
li::marker {
    color: #e39942;
    font-size: 30px;
}

p,div{
    color:whitesmoke;
}
.extra1{
    background-size:90%;
    width: 800px;
    height: 650px;
    background-image: url(https://thumbs.dreamstime.com/b/barras-de-ouro-20191440.jpg);
    z-index: 2;
    background-position:center;
    right: 100;
    display: flex;
    top: 1800px;
    background-repeat: no-repeat;
    position:top;
}